* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 20px;
}

.grid {
  display: flex;
  flex-direction: row;
  border: 1px solid rgb(181, 186, 187);
  width: 600px;
  height: 600px;
  flex-wrap: wrap;
}

.grid div {
  border: 1px solid rgb(181, 186, 187);
  font-size: 25px;
  color: #cccccc;
  text-align: center;
  font-size:11px;
}

.scoreboard{
  border: 1px solid rgb(181, 186, 187);
  margin: 20px 0 20px 0;
  padding: 20px;
}

.toprow{
 background-color: #dedede;  
}
.wall{
  color:#ff0000 !important;  
}
.earthsurface{
  background-color: #999999; 
}
.finalrow{
  background-color: #4270d4;
}
.alien {
  background-color: #65a117;
}
.deadalien {
  background-color: #47720e;
}
.character {
  background-image: url('https://freepngimg.com/thumb/categories/1873.png');
  background-size: cover;
  background-position: center;
}
.bullet {
  background-color: #df2e16;
}
.bomb {
  background-color: #df16ad;
}