* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 20px;
}

.grid {
  display: flex;
  flex-direction: row;
  border: 1px solid rgb(181, 186, 187);
  width: 600px;
  height: 600px;
  flex-wrap: wrap;
}

.grid div {
  border: 1px solid rgb(181, 186, 187);
  font-size: 25px;
  color: #cccccc;
  text-align: center;
  font-size:11px;
}

.scoreboard{
  border: 1px solid rgb(181, 186, 187);
  margin: 20px 0 20px 0;
  padding: 20px;
}

.toprow{
 background-color: #dedede;  
}
.wall{
  color:#ff0000 !important;  
}
.earthsurface{
  background-color: #999999; 
}
.finalrow{
  background-color: #4270d4;
}
.alien {
  background-color: #65a117;
}
.hittarget {
  background-color: #000000 !important;
  background-image: url('https://www.pinclipart.com/picdir/middle/319-3196510_mushroom-cloud-explosion-clipart.png') !important;
  background-size: cover;
  background-position: center;
}
.character {
  background-image: url('https://freepngimg.com/thumb/categories/1873.png');
  background-size: cover;
  background-position: center;
}
.bullet {
  background-image: url('https://www.pngrepo.com/png/182070/180/bullet-bullet.png');
  background-size: cover;
  background-position: center;
}
.bomb {
  background-image: url('https://lh3.googleusercontent.com/proxy/SiuZwP_Cwo0eCO_ALzdHwx5Mc5KRUqmZaYj-SEBqnm1AJZb93J8LiFyFvFR5wKO4DtHq9RJBMstQkNypukoQzcI5RuSNqvkJKFOgG9ATA6i3vAWmpE0nWz_E_Lmc87M3P1PD');
  background-size: cover;
  background-position: center;
}
.debugscreen {
  width:180px;
  font-size:9px;
  padding:0 0 0 20px;
}




