/* Basic styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Oxanium', 'ZCOOL QingKe HuangYou', 'Nova Square', 'Odibee Sans', 'Staatliches', Arial, Helvetica, sans-serif;
  color: #ffffff;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
}

html, body {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  background-size: cover;
  background-position: center;
  justify-content: center;
  background-color: #000006;
  display: flex;
  flex-direction: column;
}

video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

#contentcontainer {
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.gridcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  background-image: url('assets/planet-surface-top.png');
  background-position: bottom center;
  background-repeat: no-repeat;
  min-height: 600px;
}

.grid {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 900px;
  flex-wrap: wrap;
  flex: 1;
  margin: 0 auto 40px auto;
  justify-content: space-between;
}

.grid div {
  font-size: 25px;
  color: #cccccc;
  text-align: center;
  font-size: 11px;
  height: 40px;
}

.hide {
  display: none !important;
}

#displaygame {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.planetbottom {
  background-image: url('assets/planet-surface-bottom.png');
  background-position: top center;
  background-repeat: no-repeat;
  flex: 1;
}

.planetbottom button {
  display: none;
}

/* Branding and information */

#instructions {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  margin: 30px 0 30px 0;
  padding: 20px;
  border: 1px solid rgba(40, 80, 200);
  background: linear-gradient(rgba(40, 80, 200, 0.2), rgba(40, 80, 200, 0.2));
  border-radius: 10px;
}

#instructions div {
  width: 50%;
  padding: 10px;
}

#instructions div img {
  max-height: 50px;
  padding: 0 0 10px 0;
}

#instructions div p {
  font-size: 15px;
  line-height: 20px;
}

#displayintro, #displaystats, #displaygameover {
  padding: 20px;
}

#displayintro, #displaygameover {
  padding: 20px;
  max-width: 600px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#displaystats {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: start;
  flex: none;
  width: 100%;
}

#stats-info {
  padding: 0 30px 0 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 10px;
  flex: 1;
}

#stats-info div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  line-height: 32px;
  padding: 0 10px 0 10px;
}

#displaystats button {
  font-size: 20px;
  line-height: 22px;
  padding: 10px 20px 10px 20px;
  max-width: 200px;
  margin: 10px 20px 10px 20px;
}

.logo {
  width: 100%;
  max-width: 500px;
  margin: 0 auto 20px auto;
  display: block;
}

#displaystats .logo {
  width: 200px;
  margin: 10px 20px 10px 20px;
}

#displayscore, #displaylives, #displaylevel {
  margin: 0 0 0 10px;
  font-weight: 800;
  color: #ef0a6a;
  font-size: 40px;
  line-height: 42px;
}

button {
  padding: 20px 30px 20px 30px;
  margin: 20px 0 0 0;
  width: 100%;
  display: block;
  border-radius: 6px;
  font-size: 40px;
  line-height: 42px;
  font-weight: 800;
  background-color: #ef0a6a;
  color: #ffffff;
  border: none;
}

button:hover {
  background-color: #911d5e;
}

/* Characters and animations */

.alien {
  background-image: url('assets/alienship.gif') !important;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.bossalien {
  background-image: url('assets/bossalien.gif') !important;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.bossalienhalfdead {
  background-image: url('assets/bossalien-halfdead.gif') !important;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.hittarget {
  background-image: url('assets/explosion.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.character {
  background-image: url('assets/player.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.bullet {
  background-image: url('assets/laser-player.gif');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.bomb {
  background-image: url('assets/laser-aliens.gif');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#displayrotate {
  display: none;
}


@media only screen and (max-width: 1000px) {
  #displayrotate {
    display: none;
  }
  #displaystats .logo {
    width: 140px;
  }
  #displaystats>div div, #displayscore, #displaylives, #displaylevel {
    font-size: 20px;
    line-height: 22px;
  }
  #displaystats button {
    font-size: 14px;
    line-height: 16px;
  }
}



@media only screen and (max-width: 600px) {
  #displayrotate {
    display: none;
  }
  #displaystats {
    padding: 10px 10px 20px 10px;
  }
  #displaystats .logo {
    width: 70px;
  }
  #displaystats>div div, #displayscore, #displaylives, #displaylevel {
    font-size: 14px;
    line-height: 16px;
  }
  #displaystats button {
    font-size: 12px;
    line-height: 14px;
    padding: 10px 14px 10px 14px;
  }
  #displaystats>div {
    flex-direction: column;
    flex: none;
    max-width: 100px;
  }
  .gridcontainer {
    min-height: 400px;
  }
  .grid div {
    height: 24px;
  }
  #displayintro .logo {
    max-width: 160px;
  }
  #displaygameover, .logo {
    max-width: 240px;
  }
  button {
    font-size: 16px;
    line-height: 18px;
  }
  .planetbottom {
    padding: 0 0 10px 0;
  }
  .planetbottom button {
    margin: 0 5px 0 5px;
    display: inline;
    width: 25%;
    color: #666666;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    padding: 14px 10px 14px 10px;
    touch-action: manipulation;
  }

  #instructions {
    padding:10px;
    margin: 20px 0 10px 0;
  }
#instructions div p {
  font-size: 13px;
  line-height: 14px;
}
}

@media (orientation: landscape) and (max-width: 600px){
  #displayrotate {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #displaygameover, #displaygame, #displayintro {
    display: none;
  }
}
